@model IEnumerable<Student.DAL.Entity.StudentInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>信息</title>
</head>
<body>
    <p>
        @Html.ActionLink("创建用户", "Create")
    </p>
    <p><a href="~/Home/Index">分页</a></p>
    <p><a href="~/Upload/Index">上传文件</a></p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MajorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pid)
            </th>
            <th>操作</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentSex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MajorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pid)
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.StudentID }) |
                    @Html.ActionLink("详情", "Details", new { id = item.StudentID }) |
                    @Html.ActionLink("删除", "Delete", new { id = item.StudentID }, new { onclick = "return confirm('你确认要删除？')" })
                </td>
            </tr>
        }
    </table>
</body>
</html>